.banner {
  overflow: hidden;
  background: var(--ColorPrimary);
  color: var(--ColorBtnSurface);

  .wrap {
    position: relative;
    height: 0;
    padding-top: 80rem;
    background: url("../assets/banner.png") calc(100% + 7.1rem) 0 / 84rem 80rem
      no-repeat;
    text-align: left;
    box-sizing: border-box;
  }

  @media (max-width: 780px) {
    .wrap {
      padding-top: 30rem;
      background: url("../assets/banner.png") calc(100% + 3.2rem) bottom / 22rem
        21rem no-repeat;
    }
  }
}

.banner-content {
  position: absolute;
  top: 18rem;

  @media (max-width: 780px) {
    top: 4rem;
  }
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 3.2rem;

  strong {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
  }

  @media (max-width: 780px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;

    strong {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }
}

.banner-date {
  color: var(--ColorActivation);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4rem;

  @media (max-width: 780px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
