.header {
  position: sticky;
  top: 0;
  background: var(--ColorBackground);
  z-index: 10;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  h1 {
    width: 28rem;
    height: 3.8rem;

    a,
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 780px) {
    .wrap {
      padding: 1rem 0;
    }

    h1 {
      width: 18.2rem;
      height: 2.4rem;
    }
  }
}
