/* 목표 */
.main-goal {
  .wrap {
    padding: 12rem 0;
  }
}

.goal-title {
  width: 50rem;
  height: 6.8rem;
  margin: 0 auto 4rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.goal-text {
  color: var(--ColorBtnSurface);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-align: center;

  strong {
    font-weight: 700;
  }
}

/* 주요 내용 */
.main-content {
  background: var(--ColorGrayLv1);

  .content-list {
    display: flex;
    justify-content: space-between;
    gap: 9rem 4rem;
    padding: 12rem 0 10rem;

    li {
      width: 30rem;
      flex-shrink: 0;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 3rem;
      box-shadow: var(--EffectShadow);
      margin-bottom: 2.8rem;
    }

    strong {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.2rem;
    }

    p {
      color: var(--ColorGrayLv4);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.8rem;
      margin-top: 1.2rem;
    }
  }
}

/* 장소 */
.main-place {
  background: var(--ColorBtnSurface);

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12rem 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.place-text {
  max-width: 39.7rem;
}

.place-question {
  color: var(--ColorPrimary);
  margin-bottom: 1.2rem;
}

.place-answer {
  font-size: 4rem;
  line-height: 5.6rem;
}

.place-note {
  color: var(--ColorGrayLv4);
  margin-top: 2.4rem;
}

.place-img {
  flex-shrink: 0;
  width: 60rem;
  height: 30rem;
  border-radius: 3rem;
  box-shadow: var(--EffectShadow);
}

/* 커뮤니티 */
.main-community {
  background: var(--ColorBackground);
  color: var(--ColorBtnSurface);

  .wrap {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 6.4rem 0;
  }
}

.community-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;

  strong {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-top: 1.2rem;
  }
}

.community-img {
  width: 9.2rem;
  height: 6.4rem;
}

/* 일정표 */
.main-schedule {
  background: var(--ColorBtnSurface);
  padding: 12rem 0 10rem;
  overflow-x: auto;

  //   .wrap {
  //   }
}

.schedule-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin-bottom: 4rem;

  li {
    flex-shrink: 0;
  }

  table,
  th,
  td {
    border: 1px solid var(--ColorGrayLv2);
    border-collapse: collapse;
  }
}

.schedule-title {
  width: fit-content;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.6rem;
  box-shadow: inset 0 -16px 0 var(--ColorActivation);
  margin: 0 auto 6rem;

  strong {
    font-weight: 700;
  }
}

.schedule-table {
  background: var(--ColorBtnSurface);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  width: 79rem;

  thead {
    background: var(--ColorGrayLv1);
  }

  td,
  th {
    padding: 1rem 1.6rem;
  }

  .table-time {
    width: 20rem;
  }

  .table-content {
    width: 59rem;
  }

  .table-highlight {
    background: var(--ColorGrayLv1);
  }

  .special-lecture {
    font-weight: 600;
  }
}

.schedule-note {
  color: var(--ColorGrayLv3);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

/* 개요 */
.main-outline {
  background: var(--ColorGrayLv1);
  padding: 12rem 0;
}

.outline-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 79rem;
  max-width: calc(100% - 6rem);
  margin: 0 auto;

  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;

  & > li {
    display: flex;
    background: var(--ColorBtnSurface);
    padding: 4rem;
    border-radius: 2rem;
    gap: 4rem;

    &:first-child {
      border: 2px solid var(--ColorPrimary);
    }

    h3 {
      width: 8rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.8rem;
      flex-shrink: 0;
    }

    strong {
      font-weight: 700;
    }
  }

  .note-list {
    margin-top: 1.2rem;
  }
}

.recruit-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* 격려 인사 */
.main-encourage {
  color: var(--ColorBtnSurface);

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 9.8rem 0;
  }
}
