/* 목표 */
.main-goal {
  .wrap {
    padding: 12rem 0;
  }

  @media (max-width: 780px) {
    .wrap {
      padding: 6rem 0;
    }
  }
}

.goal-title {
  width: 50rem;
  height: 6.8rem;
  margin: 0 auto 4rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 780px) {
    width: 28rem;
    height: 3.8rem;
    margin: 0 auto 2.8rem;
  }
}

.goal-text {
  color: var(--ColorBtnSurface);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-align: center;
  margin: 0 auto;

  strong {
    font-weight: 700;
  }

  @media (max-width: 780px) {
    width: 33rem;
    font-size: 1.6rem;
  }
}

/* 주요 내용 */
.main-content {
  background: var(--ColorGrayLv1);

  .content-list {
    display: flex;
    justify-content: space-between;
    gap: 4rem 9rem;
    padding: 12rem 0 10rem;
    overflow-x: auto;

    li {
      width: 30rem;
      flex-shrink: 0;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 3rem;
      box-shadow: var(--EffectShadow);
      margin-bottom: 2.8rem;
    }

    strong {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.2rem;
    }

    p {
      color: var(--ColorGrayLv4);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.8rem;
      margin-top: 1.2rem;
    }
  }

  @media (max-width: 780px) {
    background: var(--ColorPrimary);
    color: var(--ColorBtnSurface);

    .content-list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5.2rem 0;

      li {
        flex-shrink: 1;
      }

      p {
        color: var(--ColorGrayLv1);
      }
    }
  }
}

/* 장소 */
.main-place {
  background: var(--ColorBtnSurface);

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.2rem;
    padding: 12rem 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;

    @media (max-width: 780px) {
      padding: 6rem 0;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}

.place-question {
  color: var(--ColorPrimary);
  margin-bottom: 1.2rem;
}

.place-answer {
  font-size: 4rem;
  line-height: 5.6rem;

  @media (max-width: 780px) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

.place-note {
  color: var(--ColorGrayLv4);
  margin-top: 2.4rem;
}

.place-img {
  max-width: 60rem;
  width: 100%;
  height: auto;
  border-radius: 3rem;
  box-shadow: var(--EffectShadow);

  @media (max-width: 780px) {
    border-radius: 1.6rem;
  }
}

/* 커뮤니티 */
.main-community {
  background: var(--ColorBackground);
  color: var(--ColorBtnSurface);

  .wrap {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 6.4rem 0;

    @media (max-width: 780px) {
      padding: 5rem 0;
    }
  }
}

.community-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;

  strong {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-top: 1.2rem;
  }

  @media (max-width: 780px) {
    font-size: 1.4rem;
    line-height: 2rem;

    strong {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}

.community-img {
  width: 9.2rem;
  height: 6.4rem;
}

/* 일정표 */
.main-schedule {
  background: var(--ColorBtnSurface);
  padding: 12rem 0 10rem;
  overflow: hidden;

  @media (max-width: 780px) {
    padding: 6rem 0;
  }
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-bottom: 4rem;
  padding-left: 3.2rem;

  li {
    flex-shrink: 0;
  }

  table,
  th,
  td {
    border: 1px solid var(--ColorGrayLv2);
    border-collapse: collapse;
  }

  .table-wrap {
    position: relative;
    max-width: 79rem;
    overflow-x: auto;
    padding-right: 3.2rem;
    margin: auto;
    box-sizing: border-box;
  }

  @media (max-width: 780px) {
    gap: 6rem;
  }
}

.schedule-title {
  width: fit-content;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.6rem;
  box-shadow: inset 0 -16px 0 var(--ColorActivation);
  margin: 0 auto 6rem;

  strong {
    font-weight: 700;
  }

  @media (max-width: 780px) {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin: 0 auto 4rem;
  }
}

.schedule-table {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--ColorBtnSurface);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  width: 100%;
  white-space: nowrap;

  thead {
    background: var(--ColorGrayLv1);
  }

  td,
  th {
    padding: 1rem 1.6rem;
    box-sizing: border-box;
  }

  .table-time {
    width: 20rem;
  }

  .table-content {
    width: 59rem;
  }

  .table-highlight {
    background: var(--ColorGrayLv1);
  }

  .special-lecture {
    font-weight: 600;
  }
}

.schedule-note {
  color: var(--ColorGrayLv3);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

/* 개요 */
.main-outline {
  background: var(--ColorGrayLv1);
  padding: 12rem 0;

  @media (max-width: 780px) {
    padding: 5.2rem 0;
  }
}

.outline-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 79rem;
  max-width: calc(100% - 6rem);
  margin: 0 auto;

  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;

  & > li {
    display: flex;
    background: var(--ColorBtnSurface);
    padding: 4rem;
    border-radius: 2rem;
    gap: 4rem;

    &:first-child {
      border: 2px solid var(--ColorPrimary);
    }

    h3 {
      width: 8rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.8rem;
      flex-shrink: 0;
    }

    strong {
      font-weight: 700;
    }

    @media (max-width: 780px) {
      flex-direction: column;
      gap: 2.4rem;
      padding: 3.2rem;
    }
  }

  .note-list {
    margin-top: 1.2rem;
  }
}

.recruit-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.outline-note {
  address {
    text-decoration: underline;
  }
}

/* 격려 인사 */
.main-encourage {
  color: var(--ColorBtnSurface);

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 9.8rem 0;

    @media (max-width: 780px) {
      padding: 7.6rem 0;
      gap: 3.2rem;
    }
  }
}

.encourage-title {
  text-align: center;

  p {
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  strong {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
  }

  @media (max-width: 780px) {
    p {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    strong {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}
