$font-basic: "Pretendard";

:root {
  color-scheme: light;
  --ColorBtnSurface: #fff;
  --ColorPrimary: #121314;
  --ColorBackground: #1f2123;
  --ColorSurface: #121314;
  --ColorGrayLv1: #f3f5fa;
  --ColorGrayLv2: #d9dbe0;
  --ColorGrayLv3: #8d9299;
  --ColorGrayLv4: #47494d;
  --ColorActivation: #dee8ff;
  --EffectShadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
}
